html{
    overflow-x: hidden;
}
body{
    margin: 0px;
    padding: 0px;
}
*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px ;
}
.logo img{
    max-width: 120px;
    height: auto;
}
.navmenu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    top: 0px;
}
.navmenu a{
    color: #2c2c2c;
    font-size: 16px;
    text-transform: capitalize;
    padding: 10px 20px;
    font-weight: 400;
    transition: all .42s ease;
}
.navmenu a:hover{
    color: #EE1C47;
}
.nav-icon{
    display: flex;
    align-items: center;
}
.nav-icon i{
    margin-right: 20px;
    color: #2c2c2c;
    font-size: 25px;
    font-weight: 400;
    transition: all .42s ease;
}
.nav-icon i:hover{
    transform: scale(1.1);
    color:#EE1C47;
}
#menu-icon{
    font-size: 35px;
    color: #2c2c2c;
    z-index: 10001;
    cursor: pointer;
}
section{
    padding: 5% 10%;
}
.main-home{
    width: 100%;
    height: 100vh;
    background-image: url(https://media.istockphoto.com/id/1369383487/photo/wireless-headphones-on-a-white-background-close-up-the-concept-of-modern-technology.jpg?s=612x612&w=0&k=20&c=X0x48NCWLkQtHQDhC3Mj1aGSqvtjFnp53y16j20d1qg=);
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(1,fr);
    align-items: center;
}
.main-text h1{
    color: black;
    font-size: 30px;
    text-transform: capitalize;
    line-height: 1.1;
    font-weight: 600;
    margin-right: 40px;
}
.main-text p{
    color: black;
    font-size: 20px;
    font-style: italic;
    margin-bottom: 20px;
    margin-right: 40px;
}
.main-btn{
    display:inline-block;
    color: #111;
    font-size: 16px;
    font-weight: 500px;
    text-transform: capitalize;
    border: 2px solid #111;
    padding: 12px 25px;
    transition: all .42s ease;
}
.main-btn:hover{
    background-color: #000;
    color: #fff;
}
.main-btn i{
    vertical-align: middle;
}

header.sticky{
    background: #fff;
    padding: 20px 10%;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
}

/* highlight*/

.text2 h2{
    color: #000;
    font-size: 30px;
    text-transform: capitalize;
    line-height: 1.1;
    font-weight: 100;
    margin: 0px ;
}

#grid2{
    display:grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
}
#grid2 div{
    width: 300px;
    height:200px;
    background-color: red;
    margin:20px;
    padding: 2px;
    margin-right: auto;
}
#div3{
    width: 100px;
    height: 100px;
    overflow: hidden;
    display:flex;
    align-items: center;
}

#div3 img{
    width: 100%;
    height: 100%;
}

#div3 img:hover{
    scale:1.3;
    transition: scale 2s;
}
#div3 i{
    
    color: #2c2c2c;
    font-size: 25px;
    font-weight: 400;
    transition: all .42s ease;
}
.figure1 {
    border: 2px #cccccc solid;
    padding: 4px;
    margin: 10px;
}
  
.figcaption1 {
    background-color: white;
    color: black;
    font-style: italic;
    padding: 2px;
    text-align: center;
}

